{% load static %}
<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0 2 2  </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">发布统计数据</a>
        <a>
          <cite>发布数据统计详情</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
{#        <form class="layui-form layui-col-md12 x-so",method="get" action="search_name">#}
{#          <input class="layui-input" placeholder="开始日" name="start" id="start">#}
{#          <input class="layui-input" placeholder="截止日" name="end" id="end">#}
{#          <input type="text" name="hostname"  placeholder="请输入IP地址" autocomplete="off" class="layui-input">#}
{#          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>#}
{#        </form>#}

       <form role="search" method="get" id="searchform" action="/xwdt2_search">

  <input type="search" name="q" placeholder="日期过滤" required>
  <button type="submit">搜索</button>
       </form>

      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button>
                 <a href="export_all_excel"><button class="layui-btn" id="export_excel"  type="button"><i class="layui-icon"></i>导出EXCEL</button></a>

        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>发布时间</th>
            <th>项目名称</th>
            <th>当日发布总次数</th>
            <th>当日成功总次数</th>
            <th>当日失败总次数</th>
            <th>当日回滚总次数</th>
            <th>生产环境发布成功数</th>
            <th>生产环境发布失败数</th>
            <th>生产环境发布回滚数</th>
            <th>测试环境发布成功数</th>
            <th>测试环境失败成功数</th>
            <th>测试环境回滚成功数</th>
          </tr>
        </thead>
        <tbody>
         {% for row in post_list %}
          <tr>

            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>

            <td>{{row.id}}</td>
            <td>{{ row.data }}</td>
            <td>{{ row.job_name }}</td>
            <td>{{ row.fabu_all_count }}</td>
            <td>{{ row.all_success }}</td>
            <td>{{ row.all_faill }}</td>
            <td>{{ row.all_abort }}</td>
            <td>{{ row.prd_success }}</td>
            <td>{{ row.prd_faill }}</td>
            <td>{{ row.prd_abort }}</td>
            <td>{{ row.fat_success }}</td>
            <td>{{ row.fat_faill }}</td>
            <td>{{ row.fat_abort }}</td>
              </td>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    <nav>
  <div class="pagination pagination-right">
        <div>
             {% if articles.has_previous %}
          <a href="?page={{ articles.previous_page_number }}" class="active">&laquo;</a>
             {% endif %}
                {% if not articles.has_previous %}
            <a href="" >&laquo;</a>
        {% endif %}
         {% for i in articles.paginator.page_range %}
             <span>{% if articles.number == i %}

             {% endif %}></span>
                <a  href="?page={{ i }}">{{ i }}

                </a>

        {% endfor %}
            <a class="next" href="">&gt;&gt;</a>
            <span>共{{ articles.paginator.num_pages }}页</span>
        </div>
      </div>
</nav>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }

          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>
